.login-form {
  &__title {
    margin-bottom: 1rem !important;
  }

  &__actions {
    text-align: right;
    margin-top: 2rem;
  }

  &__signup-link {
    padding: 0 !important;
  }

  &__bottom {
    text-align: center;
  }
}
