.history {
  min-width: 200px;
  max-height: 560px;
  overflow: auto;
  margin-left: 1rem !important;

  &__move {
    padding: 3px 8px;
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-bottom: 0.5rem;

    svg {
      margin-left: 5px;
      transition: all 0.15s ease-in-out;

      &:hover {
        cursor: pointer;
        opacity: 0.75;
      }
    }

    &--black {
      background-color: #f0f0f0;
    }
  }

  &__child-branch {
    .ant-dropdown-menu-title-content {
      display: flex;
      align-items: center;

      svg {
        margin-left: 0.5rem;
      }
    }
  }
}
