.layout {
  &__brand {
    color: white !important;
    height: 4rem;
    margin-bottom: 0;
    text-align: center;
    display: flex;
    align-items: center;

    &__title {
      &--minimized {
        display: none;
      }
    }

    &__icon {
      margin-right: 0.5rem;
    }
  }

  &__content {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
